{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceará</title>
  <link rel="stylesheet" href="{% static 'estados/style.css' %}">


<body>
    
      <h1 class="classe">Regiões </h1>
        <ul>
            <li><a class="classe2" href="{% url 'index' %}">Inicio</a></li>

        </ul>

        <div class="img_e_texto">
            <img src="{% static 'estados/ce.jpg' %}">
            <p>
                O Ceará é uma das 27 unidades federativas do Brasil. Está situado no norte da Região Nordeste e tem por
                limites o Oceano Atlântico a norte e nordeste, Rio Grande do Norte e Paraíba a leste, Pernambuco ao sul e
                Piauí a oeste. Sua área total é de 148 894,442 km²,[2] ou 9,37% da área do Nordeste e 1,74% da superfície do
                Brasil. A população estimada do estado para 1.° de julho de 2021 era de 9 240 580 habitantes, segundo o
                Instituto Brasileiro de Geografia e Estatística (IBGE),[2] sendo o oitavo estado mais populoso do país.[8]
        </div>
        <div class="img_e_texto">
            <img src="">
            <div>
                <p>
                    A capital e município mais populoso é Fortaleza, sede da Região Metropolitana de Fortaleza. Outras
                    cidades importantes fora da Região Metropolitana da capital do ceará são: Juazeiro do Norte e Crato, na Região
                    Metropolitana do Cariri; Sobral, sede da Região Metropolitana de Sobral; Itapipoca, na região norte;
                    Iguatu, na região centro-sul; Aracati, na região do Vale do Jaguaribe; e Quixadá, Iguatu e Crateús na
                    região dos Sertões Cearenses. Na Região Metropolitana de Fortaleza, cidades importantes como Caucaia,
                    Horizonte, Maranguape e Maracanaú, sede do Complexo Industrial e Portuário do Pecém, incrementam o
                    Produto Interno Bruto cearense. O estado possui ao todo 184 municípios.[8] </p>
            </div>
        </div>
        <div class="img_e_texto">
            <img src="">
            <p>
                O estado é conhecido nacionalmente pela beleza de seu litoral, pela religiosidade popular e pela fama de ser
                grande berço de talentos do humor. A jangada, ainda comum ao longo da costa, é considerada um dos maiores
                símbolos do povo e da cultura cearenses.[9] O Ceará concentra 55% de toda caatinga do Brasil e é o único
                estado do Nordeste-Sudeste a estar completamente inserido na sub-região do sertão. Décimo primeiro estado
                mais rico do país e o terceiro do Nordeste, o Ceará apresentava, em 2010, a melhor qualidade de vida do
                Norte-Nordeste, segundo a FIRJAN,[10] além do segundo melhor Índice de Desenvolvimento Humano da região.[11]
                O Ceará abriga um dos maiores parques aquáticos da América Latina,[12] o Beach Park, na praia do Porto das
                Dunas, que recebe cerca de 1,3 milhão de visitantes por ano,[12] e o quarto maior estádio de futebol do
                Brasil, o Estádio Governador Plácido Castelo (Castelão), que tem capacidade para mais de 64 000 torcedores.
            </p>

</body>

</html>